In [1]:
import pandas as pd
import numpy as np

#create a data frame for USER 1. Trying if with this way we can predict the behaviour of the user for the following months but it overfit

#create a dictionary of data
data = {'month_1': np.random.randint(1, 35, size=6),
        'month_2': np.random.randint(1, 35, size=6),
        'month_3': np.random.randint(1, 35, size=6),
        'month_4': np.random.randint(1, 35, size=6),
        'month_5': np.random.randint(1, 35, size=6),
        'month_6': np.random.randint(1, 35, size=6),
        'month_7': np.random.randint(1, 35, size=6),
        'month_8': np.random.randint(1, 35, size=6),
        'month_9': np.random.randint(1, 35, size=6),
        'month_10': np.random.randint(1, 35, size=6),
        'month_11': np.random.randint(1, 35, size=6),
        'month_12': np.random.randint(1, 35, size=6),
        'month_13': np.random.randint(1, 35, size=6),
        'month_14': np.random.randint(1, 35, size=6),
        'month_15': np.random.randint(1, 35, size=6),
        'month_16': np.random.randint(1, 35, size=6),
        'month_17': np.random.randint(1, 35, size=6),
        'month_18': np.random.randint(1, 35, size=6)}

#create a list of row names
rows = ['Plastic', 'Paper', 'Metal', 'Glass', 'Bio', 'Other']

#create a dataframe
df = pd.DataFrame(data, index=rows)

In [2]:
df

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,month_13,month_14,month_15,month_16,month_17,month_18
Plastic,31,16,20,15,23,15,4,16,17,15,20,31,10,14,30,4,19,29
Paper,28,19,32,20,6,8,28,6,7,21,8,8,26,4,25,12,11,1
Metal,33,19,25,3,27,17,22,1,27,25,18,16,23,11,23,21,7,12
Glass,23,3,28,21,32,1,8,31,25,5,11,5,15,22,24,16,13,25
Bio,11,4,17,31,34,5,32,23,25,24,15,23,15,2,28,2,7,16
Other,10,33,23,22,33,3,14,17,7,14,5,1,13,6,23,5,18,8

In [8]:
#from sklearn.linear_model import LinearRegression
#it worked but overfit because give us the same result as the last month

#create the model object
#lr = LinearRegression()

#rrain the model on the data
#lr.fit(df.loc[:, 'month_1':'month_17'], df['month_18'])

#use the model to make predictions for month_19
#predictions = lr.predict(df.loc[:, 'month_1':'month_17'])

#print the predictions
#print(predictions)

[ 7.  4. 29. 27. 12. 20.]

In [6]:
#trying Arima 

df_transposed = df.T

df_transposed

          Plastic  Paper  Metal  Glass  Bio  Other
month_1         3     23     16     16    7     16
month_2         6      4     29     10    6     21
month_3        16     34      8     31    3     15
month_4         3      1     29     18   15     11
month_5         6     29     11     10   18     10
month_6        28     25      2     22   25     21
month_7        27     34      9      2   24     13
month_8        14     21      1     13   21      4
month_9        16     17     11     11    2      6
month_10        6      7     25     20   17      8
month_11       23      5     21      2   16     32
month_12        6     12     25     11    6      5
month_13       23     32     15     31   27      8
month_14        2      4     30     25   18      3
month_15       17     25      3     12   22     25
month_16       34     17     13     21   18     10
month_17       17     31     23      9   13     16
month_18       19     22     24      1   17     34

In [10]:

import statsmodels.api as sm

#fit an ARIMA model
model = sm.tsa.ARIMA(df_transposed['Plastic'], order=(1, 1, 1))
results = model.fit()

#predict the next value for each row
next_month = results.forecast()

C:\Users\julia\miniconda3\envs\pyjuliana\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\julia\miniconda3\envs\pyjuliana\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\julia\miniconda3\envs\pyjuliana\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\julia\miniconda3\envs\pyjuliana\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(