In [1]:
import pandas as pd
import numpy as np

In [2]:
bycountry = pd.read_csv("Databycountry.csv")

In [3]:
bycountry.head()

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,89.0,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,8036.690430,51.8,6.7,4.4,11.50,11.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,13724.058594,51.4,4.5,4.8,15.21,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,43711.800781,31.2,8.2,2.6,11.60,35.1,...,NaN,52.1,NaN,NaN,NaN,NaN,NaN,47.9,NaN,NaN

In [4]:
bycountry

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,89.0,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,...,NaN,52.1,NaN,NaN,NaN,NaN,NaN,47.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,XKX,ECS,Kosovo,LMC,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,...,66.43,NaN,NaN,33.57,NaN,NaN,NaN,NaN,NaN,NaN
213,YEM,MEA,"Yemen, Rep.",LIC,8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,...,12.00,NaN,NaN,25.00,NaN,8.0,NaN,47.0,8.0,Other
214,ZAF,SSF,South Africa,UMC,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,...,72.00,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
215,ZMB,SSF,Zambia,LMC,3201.289307,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,ZWE,SSF,Zimbabwe,LIC,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,...,NaN,NaN,NaN,NaN,NaN,16.0,NaN,84.0,NaN,NaN

In [5]:
#Drop the columns that are not necessary for the analysis

bycountry.drop (columns=['iso3c', 
                         'region_id', 
                         'other_information_information_system_for_solid_waste_management',
                         'other_information_national_agency_to_enforce_solid_waste_laws_and_regulations',
                         'other_information_national_law_governing_solid_waste_management_in_the_country', 
                         'other_information_ppp_rules_and_regulations',
                         'other_information_summary_of_key_solid_waste_information_made_available_to_the_public',
                         'special_waste_agricultural_waste_tons_year',
                         'special_waste_e_waste_tons_year',
                         'special_waste_hazardous_waste_tons_year',
                         'special_waste_industrial_waste_tons_year',
                         'special_waste_medical_waste_tons_year',
                         'waste_collection_coverage_rural_percent_of_geographic_area',
                         'waste_collection_coverage_rural_percent_of_households',
                         'waste_collection_coverage_rural_percent_of_population',
                         'waste_collection_coverage_rural_percent_of_waste',
                         'waste_collection_coverage_rural_percent_of_waste',
                         'waste_treatment_anaerobic_digestion_percent',
                         'waste_treatment_controlled_landfill_percent', 
                         'waste_treatment_incineration_percent',
                         'waste_treatment_landfill_unspecified_percent',
                         'waste_treatment_open_dump_percent', 
                         'waste_treatment_other_percent',
                         'waste_treatment_sanitary_landfill_landfill_gas_system_percent',
                         'waste_treatment_unaccounted_for_percent',
                         'waste_treatment_waterways_marine_percent',
                         'where_where_is_this_data_measured'],inplace=True)

In [6]:
bycountry.columns

Index(['country_name', 'income_id', 'gdp',
       'composition_food_organic_waste_percent', 'composition_glass_percent',
       'composition_metal_percent', 'composition_other_percent',
       'composition_paper_cardboard_percent', 'composition_plastic_percent',
       'composition_rubber_leather_percent', 'composition_wood_percent',
       'composition_yard_garden_green_waste_percent',
       'population_population_number_of_people',
       'special_waste_construction_and_demolition_waste_tons_year',
       'total_msw_total_msw_generated_tons_year',
       'waste_collection_coverage_total_percent_of_geographic_area',
       'waste_collection_coverage_total_percent_of_households',
       'waste_collection_coverage_total_percent_of_population',
       'waste_collection_coverage_total_percent_of_waste',
       'waste_collection_coverage_urban_percent_of_geographic_area',
       'waste_collection_coverage_urban_percent_of_households',
       'waste_collection_coverage_urban_percent_of_population',
       'waste_collection_coverage_urban_percent_of_waste',
       'waste_treatment_compost_percent', 'waste_treatment_recycling_percent'],
      dtype='object')

In [7]:
#rename names of columns for better understanding


bycountry.rename(columns={'composition_food_organic_waste_percent': 'organic_food_percent', 
                           'composition_glass_percent': 'glass_percent', 
                           'composition_metal_percent': 'metal_percent',
                           'composition_other_percent': 'other_waste_percent',
                           'composition_paper_cardboard_percent': 'paper_cardboard_percent',
                           'composition_plastic_percent':'plastic_percent',
                           'composition_rubber_leather_percent': 'rubber_leather_percent',
                           'composition_wood_percent':'wood_percent',
                           'composition_yard_garden_green_waste_percent':'yard_garden_green_waste_percent',
                           'population_population_number_of_people': 'population_number_of_people',
                           'waste_collection_coverage_total_percent_of_geographic_area':'waste_collected_total_percent_geographic_area',
                           'waste_collection_coverage_urban_percent_of_households':'waste_collected_total_percent_of_households',
                           'waste_collection_coverage_total_percent_of_population': 'waste_collected_total_percent_of_popuation',
                           'waste_collection_coverage_urban_percent_of_waste': 'waste_collected_urban_percent_of_waste'} , inplace=True)

In [8]:
bycountry.head()

,country_name,income_id,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,rubber_leather_percent,...,waste_collected_total_percent_geographic_area,waste_collection_coverage_total_percent_of_households,waste_collected_total_percent_of_popuation,waste_collection_coverage_total_percent_of_waste,waste_collection_coverage_urban_percent_of_geographic_area,waste_collected_total_percent_of_households,waste_collection_coverage_urban_percent_of_population,waste_collected_urban_percent_of_waste,waste_treatment_compost_percent,waste_treatment_recycling_percent
0,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
1,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,LMC,8036.690430,51.8,6.7,4.4,11.50,11.9,13.5,NaN,...,NaN,NaN,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,UMC,13724.058594,51.4,4.5,4.8,15.21,9.9,9.6,NaN,...,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,HIC,43711.800781,31.2,8.2,2.6,11.60,35.1,11.3,NaN,...,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
bycountry.isna()

,country_name,income_id,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,rubber_leather_percent,...,waste_collected_total_percent_geographic_area,waste_collection_coverage_total_percent_of_households,waste_collected_total_percent_of_popuation,waste_collection_coverage_total_percent_of_waste,waste_collection_coverage_urban_percent_of_geographic_area,waste_collected_total_percent_of_households,waste_collection_coverage_urban_percent_of_population,waste_collected_urban_percent_of_waste,waste_treatment_compost_percent,waste_treatment_recycling_percent
0,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,False,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,True,True,False,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,True,True,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,False,False,False,False,False,False,False,False,False,True,...,True,True,False,True,True,True,False,True,True,True
213,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,True,True,True,True,True,False
214,False,False,False,False,False,False,False,False,False,True,...,True,False,True,True,True,False,True,True,True,False
215,False,False,False,True,True,True,True,True,True,True,...,True,False,False,True,True,True,True,True,True,True
216,False,False,False,False,False,False,False,False,False,True,...,True,False,True,True,True,True,True,True,True,False

In [10]:
#drop another column that I found is not necessary for the analysis

bycountry.drop (columns=['income_id'], inplace=True)

In [11]:
#create a new list to apply later in dropna to see if there is any country that has all the columns with missing values

new_list= list (bycountry.columns)

print(len(new_list))

new_list.remove('gdp')

new_list.remove('population_number_of_people')

new_list.remove('country_name')


print(new_list)

print(len(new_list))

24
['organic_food_percent', 'glass_percent', 'metal_percent', 'other_waste_percent', 'paper_cardboard_percent', 'plastic_percent', 'rubber_leather_percent', 'wood_percent', 'yard_garden_green_waste_percent', 'special_waste_construction_and_demolition_waste_tons_year', 'total_msw_total_msw_generated_tons_year', 'waste_collected_total_percent_geographic_area', 'waste_collection_coverage_total_percent_of_households', 'waste_collected_total_percent_of_popuation', 'waste_collection_coverage_total_percent_of_waste', 'waste_collection_coverage_urban_percent_of_geographic_area', 'waste_collected_total_percent_of_households', 'waste_collection_coverage_urban_percent_of_population', 'waste_collected_urban_percent_of_waste', 'waste_treatment_compost_percent', 'waste_treatment_recycling_percent']
21

In [12]:
#applied dropna but no rows were droped
bycountry.dropna (subset = new_list, how = 'all', inplace=True)

In [13]:
bycountry

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,rubber_leather_percent,wood_percent,...,waste_collected_total_percent_geographic_area,waste_collection_coverage_total_percent_of_households,waste_collected_total_percent_of_popuation,waste_collection_coverage_total_percent_of_waste,waste_collection_coverage_urban_percent_of_geographic_area,waste_collected_total_percent_of_households,waste_collection_coverage_urban_percent_of_population,waste_collected_urban_percent_of_waste,waste_treatment_compost_percent,waste_treatment_recycling_percent
0,Aruba,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
1,Afghanistan,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,NaN,NaN,...,NaN,NaN,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,NaN,4.6,...,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,NaN,NaN,...,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Kosovo,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,11.000000,NaN,7.0,...,NaN,NaN,39.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN
213,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,1.0,3.0,...,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,NaN,NaN,...,NaN,64.0,NaN,NaN,NaN,90.5,NaN,NaN,NaN,28.0
215,Zambia,3201.289307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,NaN,NaN,...,NaN,63.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0

In [14]:
#creating a new column to count all the NanN values in this.
bycountry["#ofNAN"]=bycountry.isnull().sum(axis=1)

In [15]:
#sorting the values to see the how many missing values has each country

bycountry.sort_values('#ofNAN', ascending= False)

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,rubber_leather_percent,wood_percent,...,waste_collection_coverage_total_percent_of_households,waste_collected_total_percent_of_popuation,waste_collection_coverage_total_percent_of_waste,waste_collection_coverage_urban_percent_of_geographic_area,waste_collected_total_percent_of_households,waste_collection_coverage_urban_percent_of_population,waste_collected_urban_percent_of_waste,waste_treatment_compost_percent,waste_treatment_recycling_percent,#ofNAN
31,Central African Republic,822.610474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
176,South Sudan,1795.991943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
165,Rwanda,1950.528076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
51,Djibouti,6596.775391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
174,Somalia,1862.614136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Pakistan,4571.414551,30.00,6.00,4.00,20.00,13.00,9.00,2.00,2.00,...,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.00,8.00,8
91,"Iran, Islamic Rep.",14535.862305,72.90,1.90,2.30,5.00,7.30,8.50,1.10,1.30,...,NaN,100.0,NaN,NaN,NaN,100.0,NaN,12.00,5.00,7
53,Denmark,57821.199219,12.78,5.78,6.29,23.86,11.57,1.61,0.00,7.65,...,NaN,NaN,100.00,NaN,NaN,NaN,NaN,18.99,27.27,7
18,Bulgaria,22279.361328,24.35,5.83,1.98,17.93,14.18,12.15,1.96,2.48,...,NaN,NaN,98.30,NaN,NaN,NaN,NaN,10.32,19.03,7
127,"Macedonia, FYR",16147.729492,29.30,4.10,2.50,19.80,12.80,13.90,0.90,0.70,...,NaN,73.0,76.61,NaN,NaN,NaN,NaN,0.10,0.18,6

In [16]:
pd.set_option('display.max_columns', None)

In [17]:
bycountry

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,rubber_leather_percent,wood_percent,yard_garden_green_waste_percent,population_number_of_people,special_waste_construction_and_demolition_waste_tons_year,total_msw_total_msw_generated_tons_year,waste_collected_total_percent_geographic_area,waste_collection_coverage_total_percent_of_households,waste_collected_total_percent_of_popuation,waste_collection_coverage_total_percent_of_waste,waste_collection_coverage_urban_percent_of_geographic_area,waste_collected_total_percent_of_households,waste_collection_coverage_urban_percent_of_population,waste_collected_urban_percent_of_waste,waste_treatment_compost_percent,waste_treatment_recycling_percent,#ofNAN
0,Aruba,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103187,NaN,8.813202e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,19
1,Afghanistan,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34656032,NaN,5.628525e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,NaN,NaN,NaN,25096150,NaN,4.213644e+06,NaN,NaN,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,NaN,4.6,NaN,2854191,203009.0,1.087447e+06,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,NaN,NaN,NaN,82431,NaN,4.300000e+04,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Kosovo,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,11.000000,NaN,7.0,NaN,1801800,217241.0,3.190000e+05,NaN,NaN,39.0,NaN,NaN,NaN,100.0,NaN,NaN,NaN,10
213,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,1.0,3.0,1.0,27584212,NaN,4.836820e+06,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,NaN,NaN,NaN,51729344,NaN,1.845723e+07,NaN,64.0,NaN,NaN,NaN,90.5,NaN,NaN,NaN,28.0,11
215,Zambia,3201.289307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14264756,NaN,2.608268e+06,NaN,10.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,NaN,NaN,NaN,12500525,NaN,1.449752e+06,NaN,63.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,12

In [18]:
#drop another unnecesary column
bycountry.drop (columns=['total_msw_total_msw_generated_tons_year'],inplace=True)

In [19]:
#create an alternative data frame to see only organic food%; glass%; metal % ; other_waste % ; paper cardboard %;
#plastic %; population_number_of_people;#ofNaN


bycountry_produced=bycountry.drop (columns=[
                                    'rubber_leather_percent', 
                                    'wood_percent',
                                    'yard_garden_green_waste_percent', 
                                    'special_waste_construction_and_demolition_waste_tons_year',
                                    'waste_collected_total_percent_geographic_area',
                                    'waste_collection_coverage_total_percent_of_households',
                                    'waste_collected_total_percent_of_popuation',
                                    'waste_collection_coverage_total_percent_of_waste',
                                    'waste_collection_coverage_urban_percent_of_geographic_area',
                                    'waste_collected_total_percent_of_households',
                                    'waste_collection_coverage_urban_percent_of_population',
                                    'waste_collected_urban_percent_of_waste',
                                    'waste_treatment_compost_percent', 
                                    'waste_treatment_recycling_percent',
                                     '#ofNAN'])

In [20]:
bycountry_produced

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people
0,Aruba,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,103187
1,Afghanistan,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,34656032
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,25096150
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,2854191
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,82431
...,...,...,...,...,...,...,...,...,...
212,Kosovo,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,11.000000,1801800
213,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,27584212
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,51729344
215,Zambia,3201.289307,NaN,NaN,NaN,NaN,NaN,NaN,14264756
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,12500525

In [21]:
#check how many missing values has each country of this data frame 

bycountry_produced["#ofNAN"]=bycountry_produced.isnull().sum(axis=1)

In [22]:
bycountry_produced

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN
0,Aruba,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,103187,6
1,Afghanistan,2057.062256,NaN,NaN,NaN,NaN,NaN,NaN,34656032,6
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,25096150,0
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,2854191,0
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,82431,0
...,...,...,...,...,...,...,...,...,...,...
212,Kosovo,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,11.000000,1801800,0
213,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,27584212,0
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,51729344,0
215,Zambia,3201.289307,NaN,NaN,NaN,NaN,NaN,NaN,14264756,6
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,12500525,0

In [23]:
#sorting #ofNAN to see the countries wit more missing values

bycountry_produced.sort_values('#ofNAN', ascending= False)

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN
0,Aruba,35563.312500,NaN,NaN,NaN,NaN,NaN,NaN,103187,6
180,Slovenia,39037.933594,NaN,NaN,NaN,NaN,NaN,NaN,2087946,6
74,Guinea-Bissau,1800.068604,NaN,NaN,NaN,NaN,NaN,NaN,1770526,6
159,Paraguay,11810.427734,NaN,NaN,NaN,NaN,NaN,NaN,6639119,6
67,Gabon,18514.652344,NaN,NaN,NaN,NaN,NaN,NaN,1086137,6
...,...,...,...,...,...,...,...,...,...,...
82,"Hong Kong SAR, China",57215.968750,35.0,3.00,2.00,14.00,22.00,21.00,7305700,0
83,Honduras,5395.613770,57.9,1.27,2.11,6.62,17.36,14.41,9112867,0
84,Croatia,28829.355469,30.9,3.70,2.10,11.50,23.20,22.90,4067500,0
85,Haiti,2952.618652,61.3,1.60,2.50,16.80,4.10,12.70,10847334,0
216,Zimbabwe,3190.506592,36.0,5.00,6.00,3.00,27.00,23.00,12500525,0

In [24]:
len(bycountry_produced.columns)

10

In [25]:
#creating another data frame with only countries that have no missing values (Nan)

bycountry_produced_cleaned = bycountry_produced.dropna(thresh=10)

In [26]:

cleaned_country_list = bycountry_produced_cleaned["country_name"].to_list()
orig_country_list = bycountry["country_name"].to_list()

In [27]:
len(cleaned_country_list)

159

In [28]:
len(orig_country_list)

217

In [29]:
#countries that were dropped from the list as they had any or all missing values

set(orig_country_list).difference(set(cleaned_country_list))

{'Afghanistan',
 'Aruba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Cabo Verde',
 'Central African Republic',
 'Channel Islands',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Curacao',
 'CÃ´te dâ€™Ivoire',
 'Djibouti',
 'Equatorial Guinea',
 'Eritrea',
 'Eswatini',
 'Faeroe Islands',
 'Gabon',
 'Gambia, The',
 'Guatemala',
 'Guinea-Bissau',
 'Iceland',
 'India',
 'Isle of Man',
 'Korea, Rep.',
 'Kyrgyz Republic',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mauritius',
 'Monaco',
 'Mongolia',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Oman',
 'Papua New Guinea',
 'Paraguay',
 'Rwanda',
 'Sierra Leone',
 'Sint Maarten (Dutch part)',
 'Slovenia',
 'Somalia',
 'South Sudan',
 'St. Martin (French part)',
 'Suriname',
 'Sweden',
 'SÃ£o TomÃ© and PrÃ­ncipe',
 'Tajikistan',
 'Tanzania',
 'Turkmenistan',
 'Venezuela, RB',
 'Zambia',
 nan}

In [30]:
#list of countries that don't have missing values

cleaned_country_list

['Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 'Cameroon',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Cuba',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'France',
 'Micronesia, Fed. Sts.',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guam',
 'Guyana',
 'Hong Kong SAR, China',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Kuwait',
 'Lao PDR',
 'Lebanon',
 'Libya',
 'St. Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'Morocco',
 'Moldova',
 'Mexico',
 'Marshall Islands',
 'Macedonia, FYR',
 'Mali',
 'Malta',
 'Montenegro',
 'Northern Mariana Islands',
 'Mauritania',
 'Malaysia',
 'New Caledonia',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Poland',
 'Puerto Rico',
 'Portugal',
 'West Bank and Gaza',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'El Salvador',
 'San Marino',
 'Serbia',
 'Slovak Republic',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'Togo',
 'Thailand',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Vietnam',
 'Vanuatu',
 'Samoa',
 'Kosovo',
 'Yemen, Rep.',
 'South Africa',
 'Zimbabwe']

In [31]:
bycountry_produced_cleaned

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,25096150,0
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,2854191,0
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,82431,0
5,United Arab Emirates,67119.132812,39.000000,4.000000,3.000000,10.000000,25.000000,19.000000,9770529,0
6,Argentina,23550.099609,38.740000,3.160000,1.840000,15.360000,13.960000,14.610000,42981516,0
...,...,...,...,...,...,...,...,...,...,...
211,Samoa,6210.983398,42.600000,2.200000,8.800000,19.400000,7.200000,13.000000,187665,0
212,Kosovo,9723.561523,42.000000,6.000000,6.000000,20.000000,8.000000,11.000000,1801800,0
213,"Yemen, Rep.",8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,27584212,0
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,51729344,0
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,12500525,0

In [32]:
pd.reset_option('display.max_rows')

In [33]:
#checking if there are another missing value that I didn't see

bycountry_produced_cleaned.isna()

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
211,False,False,False,False,False,False,False,False,False,False
212,False,False,False,False,False,False,False,False,False,False
213,False,False,False,False,False,False,False,False,False,False
214,False,False,False,False,False,False,False,False,False,False
216,False,False,False,False,False,False,False,False,False,False

In [ ]:
bycountry_produced_cleaned

In [ ]:
#create a new column with country code in order to later create a column with the name of the continent
#import packages to create a function 

import pycountry as pc

In [36]:
import country_converter as coco
import pycountry_convert as pc1

In [134]:
#create a function to create the continent column in the data frame


def country_to_continent(country_name):
    try:
        country_alpha2 = pc1.country_name_to_country_alpha2(country_name)
        country_continent_code = pc1.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc1.convert_continent_code_to_continent_name(country_continent_code)
    except:
        country_continent_name = ""
    return country_continent_name

In [135]:
#Creating the new column applying the country_to_continent function

bycountry_produced_cleaned['continents']= bycountry_produced_cleaned['country_name'].apply(country_to_continent)

C:\Users\julia\AppData\Local\Temp\ipykernel_19248\3493000295.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bycountry_produced_cleaned['continents']= bycountry_produced_cleaned['country_name'].apply(country_to_continent)

In [136]:
#check how many countries doesn't have continent applied
#my_filter = bycountry_produced_cleaned["continents"]==""

bycountry_produced_cleaned[bycountry_produced_cleaned["continents"]==""]

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN,continents,continent
192,Timor-Leste,3344.573730,43.6,5.5,10.0,9.3,10.9,16.5,1268671,0,,Asia
208,Virgin Islands U.S.,30436.564453,46.0,7.0,7.0,12.0,15.0,13.0,105784,0,,North America

In [129]:
#modify those countries to the correct name. You can see the correct names here https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

#East Timor instead of Timor-Leste
#Yemen
#Saint Vincent and the Grenadines
#Micronesia (Federated States of)
#Iran (Islamic Republic of)
#Lao People's Democratic Republic
#North Macedonia
#gaza to Palestine, State of


bycountry_produced_cleaned.loc[20,'country_name'] = 'Bahamas'

bycountry_produced_cleaned.loc[57,'country_name'] = 'Egypt'

bycountry_produced_cleaned.loc[66,'country_name'] = 'Micronesia'

bycountry_produced_cleaned.loc[82,'country_name'] = 'Hong Kong'

bycountry_produced_cleaned.loc[91,'country_name'] = 'Iran'

bycountry_produced_cleaned.loc[107,'country_name'] = "Lao People's Democratic Republic"

bycountry_produced_cleaned.loc[118,'country_name'] = "Macao"

bycountry_produced_cleaned.loc[127,'country_name'] = "North Macedonia"

bycountry_produced_cleaned.loc[160,'country_name'] = "Palestine, State of"

bycountry_produced_cleaned.loc[192,'country_name'] = "Timor-Leste"

bycountry_produced_cleaned.loc[205,'country_name'] = "Saint Vincent and the Grenadines"

bycountry_produced_cleaned.loc[208,'country_name'] = "Virgin Islands U.S."

bycountry_produced_cleaned.loc[213,'country_name'] = "Yemen"


#It's not being possible to get the continent of Timor-Leste and V irgin Islands U.S.so I will add it manually 

bycountry_produced_cleaned.loc[192,'continents'] = "Asia"

bycountry_produced_cleaned.loc[208, 'continents'] = "North America"

In [75]:
bycountry_produced_cleaned.loc[205]

country_name                   Saint Vincent and the Grenadines
gdp                                                11971.993164
organic_food_percent                                       49.6
glass_percent                                               5.6
metal_percent                                               3.8
other_waste_percent                                        10.5
paper_cardboard_percent                                    22.1
plastic_percent                                             8.4
population_number_of_people                              109455
#ofNAN                                                        0
continents
Name: 205, dtype: object

In [119]:
#Drop kosovo as it's still unclear the country code as for some countries is not recognized yet

bycountry_produced_cleaned.drop (index =212, inplace= True)

C:\Users\julia\AppData\Local\Temp\ipykernel_19248\1993499564.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bycountry_produced_cleaned.drop (index =212, inplace= True)

In [140]:
bycountry_produced_cleaned

,country_name,gdp,organic_food_percent,glass_percent,metal_percent,other_waste_percent,paper_cardboard_percent,plastic_percent,population_number_of_people,#ofNAN,continents
2,Angola,8036.690430,51.800000,6.700000,4.400000,11.500000,11.900000,13.500000,25096150,0,Africa
3,Albania,13724.058594,51.400000,4.500000,4.800000,15.210000,9.900000,9.600000,2854191,0,Europe
4,Andorra,43711.800781,31.200000,8.200000,2.600000,11.600000,35.100000,11.300000,82431,0,Europe
5,United Arab Emirates,67119.132812,39.000000,4.000000,3.000000,10.000000,25.000000,19.000000,9770529,0,Asia
6,Argentina,23550.099609,38.740000,3.160000,1.840000,15.360000,13.960000,14.610000,42981516,0,South America
...,...,...,...,...,...,...,...,...,...,...,...
210,Vanuatu,3061.787354,73.400000,5.400000,3.800000,5.700000,4.050000,6.450000,270402,0,Oceania
211,Samoa,6210.983398,42.600000,2.200000,8.800000,19.400000,7.200000,13.000000,187665,0,Oceania
213,Yemen,8269.671875,65.000000,1.000000,6.000000,6.000000,7.000000,10.000000,27584212,0,Asia
214,South Africa,12666.607422,16.381655,5.200216,16.910461,45.020646,9.396918,7.090104,51729344,0,Africa
216,Zimbabwe,3190.506592,36.000000,5.000000,6.000000,3.000000,27.000000,23.000000,12500525,0,Africa