In [141]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [142]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
%cd drive/MyDrive/TechLabs/02_Data\ Manipulation/Part\ C\ -\ Pandas

[Errno 2] No such file or directory: 'drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas'
/content/drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas

In [143]:
# This is the convention used to import Pandas.
import pandas as pd
import numpy as np

In [144]:
# These commands load the data from googlecolab
bycountry = pd.read_csv("data/sdg_11_60_page_linear.csv")

In [145]:
bycountry

,DATAFLOW,LAST UPDATE,freq,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2020,18.1,NaN
1,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2021,18.7,NaN
2,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2000,63.4,NaN
3,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2001,64.3,e
4,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2002,62.5,e
...,...,...,...,...,...,...,...,...
712,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2016,44.0,NaN
713,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2017,43.8,NaN
714,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,UK,2018,44.1,NaN
715,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,XK,2020,0.0,NaN
716,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,XK,2021,0.0,NaN

In [146]:
#delete irrelevant columns for data analysis
bycountry.drop("DATAFLOW", inplace=True, axis=1)
bycountry.drop("LAST UPDATE", inplace=True, axis=1)
bycountry.drop("freq", inplace=True, axis=1)
bycountry.drop("unit", inplace=True, axis=1)
bycountry.head()

  geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0  AL         2020       18.1      NaN
1  AL         2021       18.7      NaN
2  AT         2000       63.4      NaN
3  AT         2001       64.3        e
4  AT         2002       62.5        e

In [147]:
#see all unique values of series object ["OBS_FLAG"]
#"OBS_FLAG" simply describes the nature of the data
## "nan": "no_additional_information", "e": "estimated" "b":"break_in_time_series", "p": "provisional", "be":"break_in_time_series,estimated", "ep": "estimated,provisional", "es":"Eurostat_estimated"
bycountry["OBS_FLAG"].unique()

array([nan, 'e', 'b', 'p', 'be', 's', 'ep', 'es'], dtype=object)

In [148]:
#delete one additional column for data analysis as no impact on data
bycountry.drop("OBS_FLAG", inplace=True, axis=1)
bycountry.head()

  geo  TIME_PERIOD  OBS_VALUE
0  AL         2020       18.1
1  AL         2021       18.7
2  AT         2000       63.4
3  AT         2001       64.3
4  AT         2002       62.5

In [149]:
bycountry.rename(columns={"geo": "region_id", "TIME_PERIOD":"year", "OBS_VALUE":"recycling_rate_municipal_waste_percent"}, inplace=True)
bycountry.head()

  region_id  year  recycling_rate_municipal_waste_percent
0        AL  2020                                    18.1
1        AL  2021                                    18.7
2        AT  2000                                    63.4
3        AT  2001                                    64.3
4        AT  2002                                    62.5

In [150]:
#add a new column and assign the country name to it
bycountry["country_name"]=bycountry.region_id.replace({"EU27_2020": "European Union - 27 countries (from 2020)","EU28": "European Union - 28 countries (2013-2020)",
"BE": "Belgium",
"BG": "Bulgaria",
"CZ": "Czechia",
"DK": "Denmark",
"DE": "Germany (until 1990 former territory of the FRG)",
"EE": "Estonia",
"IE": "Ireland",
"EL": "Greece",
"ES": "Spain",
"FR": "France",
"HR": "Croatia",
"CY": "Cyprus",
"IT": "Italy",
"LV": "Latvia",
"LT": "Lithuania",
"LU": "Luxembourg",
"HU": "Hungary",
"MT": "Malta",
"NL": "Netherlands",
"AT": "Austria",
"PL": "Poland",
"PT": "Portugal",
"RO": "Romania",
"ST": "Slovenia",
"SK": "Slovakia",
"FI": "Finland",
"SE": "Sweden",
"SI": "Iceland",
"NO": "Norway",
"CH": "Switzerland",
"UK": "United Kingdom",
"BA": "Bosnia and Herzegovina",
"ME": "Montenegro",
"MK": "North Macedonia",
"AL": "Albania",
"RS": "Serbia",
"TR": "TÃ¼rkiye",
"XK": "Kosovo (under United Nations Security Council Resolution 1244/99)"
})

In [151]:
bycountry

,region_id,year,recycling_rate_municipal_waste_percent,country_name
0,AL,2020,18.1,Albania
1,AL,2021,18.7,Albania
2,AT,2000,63.4,Austria
3,AT,2001,64.3,Austria
4,AT,2002,62.5,Austria
...,...,...,...,...
712,UK,2016,44.0,United Kingdom
713,UK,2017,43.8,United Kingdom
714,UK,2018,44.1,United Kingdom
715,XK,2020,0.0,Kosovo (under United Nations Security Council ...
716,XK,2021,0.0,Kosovo (under United Nations Security Council ...

In [152]:
#re-check the assigend values in "country_name"
#2 mistakes found and corrected direclty ("FI" and "SI" were not assiged correctly)
bycountry["country_name"].unique()

array(['Albania', 'Austria', 'Bosnia and Herzegovina', 'Belgium',
       'Bulgaria', 'Switzerland', 'Cyprus', 'Czechia',
       'Germany (until 1990 former territory of the FRG)', 'Denmark',
       'Estonia', 'Greece', 'Spain',
       'European Union - 27 countries (from 2020)', 'Finland', 'France',
       'Croatia', 'Hungary', 'Ireland', 'IS', 'Italy', 'Lithuania',
       'Luxembourg', 'Latvia', 'Montenegro', 'North Macedonia', 'Malta',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia',
       'Sweden', 'Iceland', 'Slovakia', 'TÃ¼rkiye', 'United Kingdom',
       'Kosovo (under United Nations Security Council Resolution 1244/99)'],
      dtype=object)

In [153]:
#compare the number assigend values in "country_name" with "region_id" (ok)
bycountry["country_name"].nunique()

39

In [154]:
#number assigend values in "region_id" (ok)
bycountry["region_id"].nunique()

39

In [155]:
# detect MISSING values
bycountry.isna()

     region_id   year  recycling_rate_municipal_waste_percent  country_name
0        False  False                                   False         False
1        False  False                                   False         False
2        False  False                                   False         False
3        False  False                                   False         False
4        False  False                                   False         False
..         ...    ...                                     ...           ...
712      False  False                                   False         False
713      False  False                                   False         False
714      False  False                                   False         False
715      False  False                                   False         False
716      False  False                                   False         False

[717 rows x 4 columns]

In [139]:
#check for MISSING values
print(bycountry.region_id.value_counts().sum())
print(bycountry.shape)

717
(717, 4)

In [159]:
#check missing values directly in columns
pd.isnull(bycountry.region_id).sum()

0

In [158]:
#check missing values directly in columns
pd.isnull(bycountry.year).sum()

0

In [157]:
#check missing values directly in columns
pd.isnull(bycountry.recycling_rate_municipal_waste_percent).sum()

0

In [160]:
#move column "country_name"
column_to_move = bycountry.pop("country_name")
bycountry.insert(0, "country_name", column_to_move)
bycountry.head()

  country_name region_id  year  recycling_rate_municipal_waste_percent
0      Albania        AL  2020                                    18.1
1      Albania        AL  2021                                    18.7
2      Austria        AT  2000                                    63.4
3      Austria        AT  2001                                    64.3
4      Austria        AT  2002                                    62.5