In [1]:
 import pandas as pd

In [2]:
df = pd.read_csv('new_bycountry.csv', index_col= 'continents')

In [3]:
#delete unncesary columns

del df["Unnamed: 0"]
del df["country_name"]
del df["population_number_of_people"]

In [4]:
#look for the difference to reach 100 
df['difference'] = round(100 - df.sum(axis=1),1)

In [5]:
df["other_waste_percent"] = df["other_waste_percent"] + df["difference"]

In [6]:
del df['difference']

In [7]:
#renaming columns for the visualization 

cols2 = { 'organic_food_percent': 'Organic',	'glass_percent': 'Glass',	'metal_percent': 'Metal',	'other_waste_percent': 'Other',	'paper_cardboard_percent': 'Paper',	'plastic_percent': 'Plastic'}

df = df.rename(columns=cols2)

In [8]:
df

                 Organic     Glass      Metal      Other      Paper    Plastic
continents
Africa         51.800000  6.700000   4.400000  11.700000  11.900000  13.500000
Europe         51.400000  4.500000   4.800000  19.810000   9.900000   9.600000
Europe         31.200000  8.200000   2.600000  11.600000  35.100000  11.300000
Asia           39.000000  4.000000   3.000000  10.000000  25.000000  19.000000
South America  38.740000  3.160000   1.840000  27.660000  13.960000  14.610000
...                  ...       ...        ...        ...        ...        ...
Oceania        73.400000  5.400000   3.800000   6.900000   4.050000   6.450000
Oceania        42.600000  2.200000   8.800000  26.200000   7.200000  13.000000
Asia           65.000000  1.000000   6.000000  11.000000   7.000000  10.000000
Africa         16.381655  5.200216  16.910461  45.020646   9.396918   7.090104
Africa         36.000000  5.000000   6.000000   3.000000  27.000000  23.000000

[156 rows x 6 columns]

In [9]:
#unstacking the data frame so we can use it for the bar graph

df_test = df.unstack(0).reset_index()

In [10]:
df_test

     level_0     continents          0
0    Organic         Africa  51.800000
1    Organic         Europe  51.400000
2    Organic         Europe  31.200000
3    Organic           Asia  39.000000
4    Organic  South America  38.740000
..       ...            ...        ...
931  Plastic        Oceania   6.450000
932  Plastic        Oceania  13.000000
933  Plastic           Asia  10.000000
934  Plastic         Africa   7.090104
935  Plastic         Africa  23.000000

[936 rows x 3 columns]

In [11]:
#creating a list to rename columns

cols = {"level_0":"type_of_waste", 0:"percentage"}

In [12]:
#renaming columns

df_test = df_test.rename(columns=cols)

In [13]:
df_test

    type_of_waste     continents  percentage
0         Organic         Africa   51.800000
1         Organic         Europe   51.400000
2         Organic         Europe   31.200000
3         Organic           Asia   39.000000
4         Organic  South America   38.740000
..            ...            ...         ...
931       Plastic        Oceania    6.450000
932       Plastic        Oceania   13.000000
933       Plastic           Asia   10.000000
934       Plastic         Africa    7.090104
935       Plastic         Africa   23.000000

[936 rows x 3 columns]

In [21]:
df_test.to_csv("unstacked_df_continent.csv")

In [17]:
#calculate the average of the percentage of each type of waste by continents

df_test=df_test.groupby(['continents', 'type_of_waste'], as_index=False)['percentage'].mean()

In [18]:
import numpy as np

In [19]:
df_test= df_test.round(decimals=1)

In [20]:
df_test

       continents type_of_waste  percentage
0          Africa         Glass         2.4
1          Africa         Metal         3.2
2          Africa       Organic        51.5
3          Africa         Other        25.9
4          Africa         Paper         7.7
5          Africa       Plastic         9.4
6            Asia         Glass         3.2
7            Asia         Metal         3.4
8            Asia       Organic        48.7
9            Asia         Other        17.7
10           Asia         Paper        15.5
11           Asia       Plastic        11.5
12         Europe         Glass         7.0
13         Europe         Metal         3.3
14         Europe       Organic        33.6
15         Europe         Other        26.2
16         Europe         Paper        18.4
17         Europe       Plastic        11.5
18  North America         Glass         6.4
19  North America         Metal         5.1
20  North America       Organic        39.0
21  North America         Other        17.0
22  North America         Paper        19.8
23  North America       Plastic        12.8
24        Oceania         Glass         4.7
25        Oceania         Metal         9.1
26        Oceania       Organic        38.3
27        Oceania         Other        20.9
28        Oceania         Paper        12.6
29        Oceania       Plastic        14.4
30  South America         Glass         3.5
31  South America         Metal         2.7
32  South America       Organic        52.3
33  South America         Other        18.2
34  South America         Paper        11.4
35  South America       Plastic        12.0